<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1> Home Page <%="HelloWorld".toUpperCase()%></h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis provident dolor ut, soluta, nemo commodi necessitatibus iure dicta recusandae deleniti voluptate non animi, ducimus suscipit qui quam dolorum possimus voluptatem!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis provident dolor ut, soluta, nemo commodi necessitatibus iure dicta recusandae deleniti voluptate non animi, ducimus suscipit qui quam dolorum possimus voluptatem!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis provident dolor ut, soluta, nemo commodi necessitatibus iure dicta recusandae deleniti voluptate non animi, ducimus suscipit qui quam dolorum possimus voluptatem!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis provident dolor ut, soluta, nemo commodi necessitatibus iure dicta recusandae deleniti voluptate non animi, ducimus suscipit qui quam dolorum possimus voluptatem!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis provident dolor ut, soluta, nemo commodi necessitatibus iure dicta recusandae deleniti voluptate non animi, ducimus suscipit qui quam dolorum possimus voluptatem!</p>
    
</body>
</html>